/* =============
    Section 9
============= */

#section-9{

    text-align: center;
    color: $pink;

    padding-top: 40px;

       height: 15px;
       padding-bottom: 160px;
       align-items: center;
       justify-content: center;

       


       
      
       
       
}

