/* =============
    Section 2
============= */

#section-2{
    background-image: url('../img/section-2/picture2.svg');
       background-size: cover;
       background-position: center;
       height: 169px;
       color: white;
       

}