/* =============
    Section 6
============= */

#section-6{

    background-image: url('../img/section-6/picture8.png');
       background-size: cover;
       background-position: center;
       height: 169px;
      
       
       
}

