/* =============
    Section 4
============= */

#section-4{

    padding-top: 200px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: "button" 
    "picture";
    #button{
        grid-area: button;
        background-image: url('../img/section-4/picture4.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 84px;
    }
    #picture{
        grid-area: picture;
        background-image: url('../img/section-4/picture5.png');
        background-size: cover;
        background-position: center;
        height: 158px;
    }
}