
/* =============
    Section 8
============= */
#section-8 {

    @include lg {
        padding: 25px;
    }

    #section-8-lock {

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include lg {
            grid-area: section-8-lock;
            display: grid;
            grid-template-columns: 50% auto;
        }

        #section-8-Discover {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: ". section-8 .";
    
            ul {
                grid-area: section-8;
                display: grid;
                margin: 0px;
    
    
                // @include md {
                //     grid-template-columns: 1fr;
                // }
    
            }
    
            li {
                img {
                    width: 100%;
                    padding: 20px;
                    @include md {
                        display: grid;
                        height: 301px;                    
                    }
            
                    @include lg {
                        grid-area: section-8-lock;
                        display: grid;
                        height: 310px;                    
                    }
                }
            }
        }
    
        h1{
            text-align: center;
            color: $pink;
            


        }
        
        h3{
            text-align: center;
            color: $blue;
            font-size: 35px;
            @include md {
                margin-top: 160px; 
                margin-left: 35px;                    
            }
    
            @include lg {
                margin-top: 170px;
                font-size: 45px;

                    
            }

        }
    
        #section-8-container {
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-8 .";
    
    
            #section-8-content {
                grid-area: section-8;
            }
    
        }

    }

    
}