/* =============
    Section 3
============= */


#section-3{
    background-image: url('../img/section-3/picture3.svg');
       background-size: cover;
       background-position: center;
       height: 169px;
       color: $blue;
       padding-top: 30px;
       padding-bottom: 160px;       
       display: grid; 
       grid-template-columns: 15% auto 15%;
       grid-template-areas: ". text .";

       @include md {
        grid-template-columns: 130px auto 130px;
        height: 190px;
        }

       @include lg {
        grid-template-columns: 200px auto 200px;
        height: 470px;
        }
       #text{
           grid-area: text;
           text-align: justify;
           @include md {
            margin-top: 20px;
        
        }
        @include lg {
            margin-top: 40px;
            font-size: 27px;
        
        }

           
        

       }
       
    //    #button{
    //     background-image: url('../img/section-3/picture4.svg');
    //     background-size: cover;
    //     background-position: center;
    //     height: 84px;
    //    }

}

