/* =============
    Section 1
============= */

#section-1{
    background-image: url('../img/section-1/picture1.svg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       height: 420px;
       color: white;
       @include md{
           height: 600px;
       }

       @include lg{
            height: 700px;
        }

        @include xl{
            height: 1000px;
         }

         h1{
             font-size: 80px;
             text-align: center;
             @include lg{
                 font-size: 200px;
             }
         }
         h3{
            font-size: 30px;
            text-align: center;
            @include lg{
                font-size: 90px;
            }
        }

}

