/* =============
    Section 7
============= */

#section-7{

    h1 {
        text-align: center;
        color: $pink;
    }

    #section-7-video {
        display: grid;
        grid-template-columns: auto;
        grid-area: ". section-7 .";
        background-color: $white;
        margin-bottom: 50px;
        padding: 20px;
        
    }

    @include md {
        padding: 25px;
    }
    @include lg {
        padding: 25px;
    }

    
        
    
       
}

