/* =============
    Section 7
============= */

#section-7{

    background-image: url('../img/section-7/picture10.png');
       background-size: cover;
       background-position: center;
       height: 100px;
       padding-bottom: 90px;

       
      
       
       
}

