/* =============
    Section 9
============= */

#section-9{

    padding-top: 100px;
    background-image: url('../img/section-9/subscribe.svg');
       background-size: cover;
       background-position: center;
       height: 100px;
       padding-bottom: 100px;

       
      
       
       
}

