/* =============
    Section 1
============= */

#section-1 {
    align-items: center;
    background-image: url("../img/section-1/picture1.svg");
    background-size: cover;
    display: flex;
    height: 630px;
    justify-content: center;



    div {
        color: $white;
        text-align: center;

        h1 {
            font-family: 'Berkshire Swash', cursive;
            font-size: rem-calc(150);
        }

        h3 {
            font-family: 'Cookie', cursive;
            font-size: rem-calc(60);
            font-weight: 500;
        }
    }
}