/* =============
    Section 4
============= */

#section-4 {

    display: grid;
    grid-template-rows: 180px auto;
    grid-template-areas: "button"
        "picture";

    @include md {
        //grid-template-rows: 100px auto;
    }



    #button {
        grid-area: button;
        background-image: url('../img/section-4/picture4.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        cursor: pointer;
        padding-top: 70px;

        @include md {
            padding-top: 60px;
        }
    }

    #picture {
        grid-area: picture;
        background-image: url('../img/section-4/picture5.png');
        background-size: cover;
        background-position: center;
        height: 90px;
        padding-bottom: 40px;

        @include md {
            height: 250px;
        }

        @include lg {
            height: 410px;
            padding-bottom: 90px;

        }
    }

}