/* =============
    Footer
============= */

footer{
    
    width: 100%;
    height: 30px;

    #footer-content{
        grid-area: footer;
        display: grid;
        grid-template-columns: 42% 16% 33% 10%;
        grid-template-areas: ". img . text";
        position: relative;

        #footer-image{
            background-image: url('../img/footer/footer.png');
            // background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            // height: 45px;
            // width: 58px;
            grid-area: img;
        }


     
          #footer-text{
              grid-area: text;
              color: white;
              font-size: rem-calc(13);
              text-align: right;
              position: absolute;
              bottom: 0;
              right: 0;
        }
    }
}