/* =============
    Header
============= */

header {
    background-color: $pink;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 10px 15px;
            cursor: pointer;

            img {
                width: 40px;
            }
        }

        #burger-container {
            align-items: center;
            color: $white;
            display: flex;
            font-size: rem-calc(25);
            grid-area: burger;
            justify-content: flex-end;
            padding: 10px 15px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $pink;
            display: none;
            grid-area: nav;
            padding: 10px 15px;

            @include lg {
                background-color: $pink;
                display: block !important;
            }
        }
    }
}